:root{
  /* Colors */

    --main-color: #000000;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --bg-gradient: linear-gradient(to right, #6a11cb, #2575fc);

  /* Font Sizes */

    --xs-font: 29px;
    --s-font: 40px;
    --regular-font: 47px;
    --large-font: 57px; 
    --number: 70px;
    
  /* Fonts */

  --font-light: 'Lexend Light';
  --font-regular: 'Lexend Regular';
  --font-medium: 'Lexend Medium';
  --font-semibold: 'Lexend SemiBold';
  --font-bold: 'Lexend Bold';
  --font-extrabold: 'Lexend ExtraBold';

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    align-items: center;
    /* background-color: var(--main-color); */
    color: var(--secondary-color);
    background-image: url(./Assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;  
  }


  
